.loader {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border-left: 5px solid blueviolet;
    border-right: 5px solid blueviolet;
    animation-name: loaderAnm;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes loaderAnm {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
