* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.App {
    background-color: rgb(245, 241, 241);
    padding: 0 0 30px;
}
.total {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 30px;
}

.totalValues1 {
    border: solid 1px rgb(233, 107, 107);
    border-radius: 5px;
    margin-left: 10px;
    padding: 3px;
    color: rgb(233, 107, 107);
}
.totalValues {
    border: solid 1px rgb(122, 183, 241);
    border-radius: 5px;
    margin-left: 10px;
    padding: 3px;
    color: rgb(122, 183, 241);
}
.diagram {
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
}
.performance {
    padding-left: 10px;
}
.loaderWrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border-left: 5px solid blueviolet;
    border-right: 5px solid blueviolet;
    animation-name: loaderAnm;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: flex;
    justify-content: center;
}

@keyframes loaderAnm {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
